body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbbbbb;

 

}

p {
  flex: 1;
  text-align: left;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 300%;
  letter-spacing: 0.25em;
}


h2 {
  font-weight: bold;
  background-color: gray;
  color: white;
  font-size:larger;
  display:grid;

}

em {
  color: red;
  font-style: italic;
}

strong {
  font-weight: bold;
  background-color: white;
}

.imagen {
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-left: 200px
}

.texto {
  display: block;
  flex: 1;
} 

.container {
  display: flex;
  align-items: flex-start;
}

